body {
  background-image: 
    linear-gradient(#5b5a5aea, #00000076),
    url("https://img.freepik.com/premium-photo/soft-blurred-gym-background-active-fitness-equipment-strong-workout-mood_217468-30272.jpg");
  background-size: cover;
  background-position: center;
  color: #a8ff98;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.addplan-container {
  background-color: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 0 15px #a8ff98;
  width: 400px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 8px 0 4px;
  color: #fff;
}

input, textarea {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-bottom: 15px;
  font-size: 1rem;
}

button {
  background-color: #a8ff98;
  color: #000;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5eff46;
}
