* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: 
    linear-gradient(#5b5a5aea, #00000076),
    url("https://img.freepik.com/premium-photo/soft-blurred-gym-background-active-fitness-equipment-strong-workout-mood_217468-30272.jpg");
  background-size: cover;
  color: #a8ff98;
}

.dashboard-container {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #0000006b;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar img {
  margin-left: 50px;
}

.sidebar h2 {
  text-align: center;
  color: #a8ff98;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #ccc;
  display: block;
  padding: 10px;
  border-radius: 8px;
  transition: 0.3s;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #a8ff98;
  color: #20232a;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 40px;
}

header h1 {
  font-size: 2rem;
}

header p {
  margin-bottom: 25px;
  color: #fff;
}

.button-bar {
  margin-bottom: 25px;
}

.button-bar button {
  background-color: #a8ff98;
  color: #000;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.button-bar button:hover {
  background-color: #5eff46;
}

/* Plan Cards */
.plan-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.plan-card {
  background-color: #ffffff10;
  border: 1px solid #a8ff98;
  border-radius: 16px;
  padding: 20px;
  width: 300px;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
  transition: transform 0.3s ease;
}

.plan-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px #a8ff98;
}

.plan-card h3 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
  color: #a8ff98;
}

.plan-card p {
  font-size: 14px;
  margin-bottom: 6px;
  line-height: 1.4;
}

.plan-card button {
  background-color: #a8ff98;
  color: #000;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.plan-card button:hover {
  background-color: #5eff46;
}
